* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  overflow: hidden;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
button[type="submit"],button[type="button"] {
  display: block;
  border: 2px solid #000;
  background-color: #fff;
  padding: 0.7rem 2rem;
  margin: 3rem auto 0;
  font-weight: bold;
  font-size: 1.5vw;
  color: #ce5953;
}
/*header*/

.logo {
  font-size: 1.5vw;
  color: #ce5953;
}

.luxbar-menu-material-indigo,
.luxbar-menu-material-indigo .dropdown ul {
  background-color: #fff;
  color: #000;
}
.luxbar-menu-material-indigo .luxbar-hamburger span,
.luxbar-menu-material-indigo .luxbar-hamburger span::before,
.luxbar-menu-material-indigo .luxbar-hamburger span::after {
  background-color: #000;
}
.luxbar-menu-material-indigo .active,
.luxbar-menu-material-indigo .luxbar-item:hover {
  background-color: #f3f3f3;
}

/*hero*/

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero-contents {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 10;
  transform: translateY(-40%);
}
.hero-title {
  text-align: center;
  display: inline-block;
  color: #fff;
}
.hero-title span {
  font-size: 2vw;
}

.hero-img {
  display: inline-block;
  width: 45vw;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: -1;
}
.hero-bg {
  width: 80%;
  height: 100vh;
  background-color: #ce5953;
  clip-path: polygon(58% 1%, 100% 0%, 100% 100%, 17% 100%);
  position: absolute;
  top: 0;
  right: 0;
}

/*main共通*/
section {
  padding-top: 12vw;
  width: 100%;
}

.main-title {
  text-align: center;
  font-size: 2vw;
  position: relative;
}
.main-title::after {
  content: "";
  width: 10vw;
  height: 3px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #9f4b0f;
}
.main-title::before {
  display: block;
  font-size: 8vw;
  font-weight: bold;
  color: #caa865;
  opacity: 0.15;
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
/*about*/
.about-title::before {
  content: "ABOUT";
}
.about-contents {
  width: 70%;
  margin: 5rem auto 0;
}
.about-img-wrapper {
  display: flex;
}

.about-before {
  width: 40%;
}
.about-before-img {
  position: relative;
  margin-left: 3vw;
}
.about-before-img img {
  display: block;
  width: 15vw;
}
.about-img-men {
  margin-left: auto;
}

.about-center {
  width: 20%;
  position: relative;
}
.about-center img {
  display: block;
  width: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about-after {
  width: 40%;
}
.about-after-img {

}
.about-after-img img {
  display: block;
  width: 30vw;
}
.about-text {
  font-size: 1.5vw;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
}

/*use*/
.use-title:before {
  content: "HOW TO USE";
}

.use-contents {
  width: 60%;
  margin: 5rem auto 0;
}
.use-item {
  display: flex;
  margin: 1rem 0;
}
.use-item:nth-child(even) {
  flex-direction: row-reverse;
}

.use-img,
.use-text {
  padding: 1rem;
}
.use-img {
  width: 40%;
}
.use-text {
  width: 60%;
}

.use-img img {
  display: block;
  width: 80%;
  min-width: 12rem;
}

.use-text p {
  font-size: 2vw;
  font-weight: bold;
}
.use-text .use-number {
  font-size: 4vw;
  color: #ce5953;
  padding-top: 4vw;
}
.use-text .precautionary {
  font-size: 1vw;
  font-weight: normal;
  padding: 0.5vw 0;
}

/*.register*/
.register-title {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  color: #ce5953;
}

/*footer*/
footer {
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}
