{% extends 'register/base.html' %}

{% block content %}
<div class="blank"></div>



    <h3>{{ diary.title }} の編集ページ</h3>

    <form action="" method="POST">
        <table class="table" style="width: 100%;">
            <tbody style="width: 100%;">
                {% for field in form %}
                    <tr>
                        <th><label for="{{ field.id_for_label }}">{{ field.label }}</label></th>
                        <td>{{ field }} {{ field.errors }}</td>
                    </tr>
                    <div class="space"></div>
                {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        <div class="btn-wrap">
        <button class="btn btn-primary" type="submit">送信</button>
        <button class="btn btn-primary" type="submit" name="save_and_add">保存してもう一つ追加</button>
        <button class="btn btn-primary" type="submit" name="save_and_edit">保存して編集を続ける</button>
    </div>
    </form>
    

{% endblock %}